@font-face {
  font-family: Alegreyasans;
  font-display: swap;
  src: url("../fonts/Alegreyasans.woff2") format("woff2"), url("../fonts/Alegreyasans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Alegreyasans;
  font-display: swap;
  src: url("../fonts/Alegreyasansbold.woff2") format("woff2"), url("../fonts/Alegreyasansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Alegreyasans;
  font-display: swap;
  src: url("../fonts/Alegreyasanslight.woff2") format("woff2"), url("../fonts/Alegreyasanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Alegreyasans;
  font-display: swap;
  src: url("../fonts/Alegreyasansmedium.woff2") format("woff2"), url("../fonts/Alegreyasansmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/rubik-semi-bold.woff2") format("woff2"), url("../fonts/rubik-semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

body,
html {
  scroll-behavior: smooth;
  font-size: 15px;
  font-family: "Roboto";
}

.scrollNone {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1865px;
  padding-left: 120px;
  padding-right: 120px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: Alegreyasans;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 140%;
  font-weight: 700;
  padding-right: 20%;
}

h3 {
  letter-spacing: 0.025em;
  font-weight: 300;
  font-family: Alegreyasans;
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 85px;
  margin-top: 30px;
}

h3 span {
  font-size: 38px;
  font-weight: 700;
  font-family: Inter;
  text-transform: uppercase;
  color: #5A6CFF;
}

.course__no-adaptive {
  background: -o-linear-gradient(348.88deg, #293CEF 17.66%, #6370EF 38.55%, #293CEF 58.21%);
  background: linear-gradient(101.12deg, #293CEF 17.66%, #6370EF 38.55%, #293CEF 58.21%);
  border-radius: 20px;
  padding: 24px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  display: inline-block;
  font-family: Alegreyasans;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  line-height: 60%;
  position: relative;
  z-index: 2;
  opacity: 0.8;
  transition: all 0.3s linear;
}

.course__no-adaptive:active {
  background: -o-linear-gradient(187.59deg, #293CEF 3.3%, #2B3DED 27.4%, #293CEF 55.88%);
  background: linear-gradient(262.41deg, #293CEF 3.3%, #2B3DED 27.4%, #293CEF 55.88%);
  border: 1px solid #5A6CFF;
  -webkit-box-shadow: 0px 2px 17px #2A3DEF;
          box-shadow: 0px 2px 17px #2A3DEF;
}

.adaptive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  text-align: center;
  font-family: Alegreyasans;
  font-weight: 300;
  font-size: 48px;
  line-height: 80%;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
  line-height: 125%;
}

.scroll {
  background: #fff;
}

.header__language span {
  padding: 0px 5px;
}

.header__language .active {
  color: #6C86FF;
}

.header__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 10px;
}

.header__list li:not(:last-child) {
  margin-right: 60px;
}

.header__list li {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 16px;
}

.header__burger {
  display: none;
  width: 27px;
  height: 15px;
}

.header__burger:after,
.header__burger:before {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  left: 0;
}

.header__burger:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #000;
  top: 0;
}

.header__burger:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #000;
  bottom: 0;
}

.header__burger span:after {
  content: "";
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
}

.header__burger.active span:after {
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
}

.header__burger.active:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 1px);
}

.header__burger.active:before {
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__body {
  -webkit-transform: translateX(100vh);
      -ms-transform: translateX(100vh);
          transform: translateX(100vh);
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger__body.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

footer {
  background: #000000;
  color: #fff;
  padding-top: 36px;
  padding-bottom: 46px;
}

.footer__text {
  font-weight: 500;
  letter-spacing: 0.015em;
  font-size: 24px;
  margin-right: 45px;
}

.footer__text-second {
  padding-left: 20px;
}

.footer__btn {
  margin-left: 45px;
}

.footer__btn a {
  background: #2A3DF0;
  border-radius: 12px;
  padding: 16px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: underline;
}

.footer__btn a img {
  margin-right: 11px;
}

.footer__btn a:not(:last-child) {
  margin-right: 10px;
}

.subfooter {
  padding-bottom: 96px;
}

.subfooter section {
  border-top: 2px solid #5A6CFF;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 820px;
  margin: 0 auto;
}

.subfooter__title {
  margin-bottom: 80px;
}

.subfooter-img {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #5A6CFF;
  width: 44px;
  height: 44px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.subfooter__item img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.subfooter__item p {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.015em;
}

.subfooter__item.active img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.subfooter__body {
  padding: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.015em;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 0;
  margin: auto;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.subfooter__body.active {
  visibility: visible;
  height: auto;
  overflow: none;
  opacity: 1;
}

.initial {
  padding-bottom: 90px;
}

.initial__p {
  padding-left: 23px;
  max-width: 480px;
  font-weight: 500;
  position: relative;
  z-index: 3;
  padding-right: 5px;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.78);
}

.initial__p p:not(:last-child) {
  margin-bottom: 12px;
}

.initial__p span {
  font-weight: 700;
  color: #5A6CFF;
}

.initial__p:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.78);
}

@supports ((-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))) and (-webkit-backdrop-filter: 2px) {
@media (max-width: 767px) {
    .initial__p {
      background: rgba(255, 255, 255, 0.2);
      -webkit-backdrop-filter: blur(2px);
              backdrop-filter: blur(2px);
    }
}
}

.initial__wr {
  position: relative;
  padding-top: 145px;
}

.initial__wr:after {
  content: url("../img/initial-elipse-bg.png");
  display: block;
  width: 750px;
  height: 1110px;
  position: absolute;
  top: 0;
  right: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.initial__net-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.initial__net-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  position: relative;
}

.initial__main-img {
  position: relative;
  z-index: 2;
}

.initial__point-dekor {
  position: absolute;
}

.initial__point-dekor-1 {
  width: 15px;
  top: 46%;
  left: 18%;
}

.initial__point-dekor-2 {
  width: 15px;
  top: 10%;
  left: 90%;
}

.initial__point-dekor-3 {
  width: 10px;
  top: -5%;
  left: 0%;
}

.initial__point-dekor-4 {
  width: 13px;
  top: -24%;
  left: 63%;
}

.initial__point-dekor-5 {
  width: 6px;
  top: -27%;
  left: 20%;
}

.initial__btn {
  margin-top: 85px;
}

.course__title {
  margin-bottom: 60px;
}

.course {
  position: relative;
}

.course__net {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.course__net-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 18px rgba(81, 112, 255, 0.25);
          box-shadow: 0px 2px 18px rgba(81, 112, 255, 0.25);
  border-radius: 10px;
  padding-top: 34px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.course__net-item h4 {
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2A3DF0;
  font-family: Inter;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 30px;
}

.course__net-item p {
  margin-bottom: 60px;
  color: rgba(0, 0, 0, 0.78);
  line-height: 125%;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.course__net-item img {
  width: 115px;
}

.course__net-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.course__line-dekor {
  position: absolute;
  bottom: -24%;
  left: 0;
}

.aftercourse {
  padding-top: 180px;
  padding-bottom: 220px;
}

.aftercourse__title {
  margin-bottom: 80px;
}

.aftercourse__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  -webkit-column-gap: 155px;
     -moz-column-gap: 155px;
          column-gap: 155px;
}

.aftercourse__net-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aftercourse__net-wr:nth-child(odd) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aftercourse__net-wr:nth-child(even) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aftercourse__net-item {
  width: 100%;
  max-width: 300px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 12px 24px 12px 0px;
  color: #2A3DF0;
  position: relative;
}

.aftercourse__net-item h4 {
  font-size: 24px;
  line-height: 195%;
}

.aftercourse__detailed {
  cursor: pointer;
}

.aftercourse__detailed img {
  padding-right: 10px;
}

.aftercourse__detailed span {
  line-height: 175%;
  font-size: 17px;
}

.aftercourse__body {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  color: rgba(0, 0, 0, 0.78);
  line-height: 130%;
  max-width: 370px;
  width: 100%;
  border: 1px solid #006F7D;
  border-radius: 10px;
  z-index: 4;
  bottom: 55px;
  left: -30px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aftercourse__body.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.format {
  padding-bottom: 240px;
  position: relative;
}

.format__title {
  margin-bottom: 200px;
}

.format__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.format__net-first,
.format__net-second {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 375px;
          flex: 0 0 375px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  position: relative;
  z-index: 2;
  -ms-flex-preferred-size: 375px;
      flex-basis: 375px;
}

.format__net-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.format__benefits {
  white-space: nowrap;
  text-align: center;
  border: 1px solid #5A6CFF;
  border-radius: 23px;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 32px;
  line-height: 60%;
}

.format__benefits span {
  color: #5A6CFF;
  font-weight: 700;
}

.format__benefits-1,
.format__benefits-3 {
  margin-bottom: 113px;
}

.format__benefits-3,
.format__benefits-4 {
  display: block;
}

.format__net-main {
  margin-left: 95px;
  margin-right: 95px;
}

.format__img-wr {
  width: 100%;
  height: 100%;
  max-width: 460px;
  position: relative;
}

.format__img-wr img {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.dekor-curcle {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #5271FF;
  border-radius: 50%;
  z-index: 4;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dekor-curcle-1 {
  -webkit-animation: wave 4s linear infinite normal 0s forwards;
          animation: wave 4s linear infinite normal 0s forwards;
}

.dekor-curcle-2 {
  -webkit-animation: wave 6s linear infinite normal 2s forwards;
          animation: wave 6s linear infinite normal 2s forwards;
}

.dekor-curcle-3 {
  -webkit-animation: wave 2s linear infinite normal 4s forwards;
          animation: wave 2s linear infinite normal 4s forwards;
}

@-webkit-keyframes wave {
  0% {
    width: 228px;
    height: 228px;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 700px;
    height: 700px;
  }
}

@keyframes wave {
  0% {
    width: 228px;
    height: 228px;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 700px;
    height: 700px;
  }
}

.format__dekor {
  position: absolute;
  bottom: -50%;
  left: 10%;
  z-index: -1;
}

.introduction {
  padding-bottom: 180px;
}

.introduction__title {
  margin-bottom: 110px;
}

.introduction__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.introduction__net-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 70px;
}

.introduction__net-text h5 {
  padding-left: 15px;
  margin-bottom: 80px;
  font-size: 40px;
  font-family: "Rubik";
}

.introduction__net-text section {
  max-width: 530px;
  background: #5A6CFF;
  border-radius: 10px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 12px;
  padding-left: 8px;
}

.introduction__net-text section p {
  font-family: "Rubik";
  line-height: 125%;
  font-size: 16px;
  padding-left: 8px;
}

.introduction__net-text section:not(:last-child) {
  margin-bottom: 8px;
}

.introduction__net-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.introduction__img-wr {
  position: relative;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  width: 520px;
  height: 505px;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}

.introduction__marker {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
}

.program {
  padding-bottom: 163px;
}

.program__title {
  margin-bottom: 100px;
}

.slider__arrow {
  width: 115px;
  padding: 4px 12px;
  background: transparent;
  border: 1px solid #2A3DF0;
  border-radius: 17px;
}

.program__prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.program__prev,
.program__next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.swiper-button-disabled {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.38;
}

.program__net {
  overflow: hidden;
}

.swiper-module {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}

.program__net-desktop {
  display: none;
}

.program__net-mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 140px;
  padding-bottom: 140px;
}

.slider__arrow {
  margin-top: 140px;
}

.module {
  -webkit-box-shadow: 0px 4px 21px rgba(123, 97, 255, 0.15);
          box-shadow: 0px 4px 21px rgba(123, 97, 255, 0.15);
  border-radius: 15px;
  padding: 24px 20px 24px 16px;
  position: relative;
}

.module ul {
  margin-bottom: 16px;
}

.module li:not(:last-child) {
  margin-bottom: 16px;
}

.module li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 120%;
}

.module h6 {
  text-transform: uppercase;
  line-height: 116%;
  font-weight: 500;
  font-size: 16px;
}

.module-blue {
  background: #2A3DF0;
  color: #fff;
  border: 1px solid #2A3DF0;
}

.module__title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.module__p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.module__point {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  background: #627EFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  font-style: 14px;
  line-height: 130%;
}

.module__addition h6 {
  margin-bottom: 10px;
}

.module__addition-question,
.module__resuit-body {
  background: #6C86FF;
  border: 1px solid #5A6CFF;
  border-radius: 5px;
  padding: 6px 8px;
  max-width: 280px;
  width: 100%;
}

.module__addition-question a,
.module__resuit-body a {
  display: block;
  line-height: 120%;
}

.module__addition-question {
  margin-bottom: 24px;
}

.module__resuit-body {
  position: absolute;
  left: 16px;
  top: calc(100% - 16px);
}

.slider__arrow {
  position: relative;
  z-index: 2;
}

.module-white {
  border: 4px solid #5A6CFF;
  color: #000;
}

.module-white .module__title span {
  color: #5A6CFF;
}

.module-white .module__p {
  text-align: left;
}

.module-white .module__point {
  color: #fff;
}

.module-white h6 {
  color: #2A3DF0;
}

.module-white .module__addition-question,
.module-white .module__resuit-body {
  background: #2A3DF0;
  color: #fff;
}

.module-black {
  color: #fff;
  background-color: #000;
}

.module-black h6 {
  color: #2A3DF0;
}

.module-black .module__title span {
  color: #5A6CFF;
}

.module-coffe {
  background-color: #000;
  color: #fff;
}

.module-coffe h6 {
  color: #E8D792;
}

.module-coffe .module__addition-question {
  padding: 10px;
}

.module-coffe .module__addition-question,
.module-coffe .module__resuit-body {
  background: #E8D792;
  color: rgba(0, 0, 0, 0.78);
  border: transparent;
}

.module-coffe .module__addition-question {
  display: inline-block;
}

.module-coffe .module__p,
.module-coffe .module__title {
  color: #E8D792;
}

.module-coffe .module__p {
  text-align: left;
}

.module-coffe .module__point {
  background: #E8D792;
}

.tariff {
  padding-bottom: 150px;
  position: relative;
}

.tariff__title {
  margin-bottom: 80px;
}

.tariff__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.tariff__net-item {
  position: relative;
  z-index: 2;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tariff__net-item h6 {
  font-family: "Roboto";
  font-size: 36px;
  margin-bottom: 15px;
}

.tariff__net-item p {
  font-weight: 500;
  font-family: "Roboto";
  line-height: 125%;
  margin-bottom: 24px;
  font-size: 16px;
}

.tariff__net-item ul {
  margin-bottom: 24px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
}

.tariff__net-item .tariff__item {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.tariff__net-item .tariff__item img {
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  min-width: 17px;
}

.tariff__net-item .tariff__item:not(:last-child) {
  margin-bottom: 10px;
}

.tariff__net-item span {
  color: rgba(0, 0, 0, 0.78);
  line-height: 140%;
}

.tariff__label {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(20%, -75%);
      -ms-transform: translate(20%, -75%);
          transform: translate(20%, -75%);
  max-width: 80px;
}

.tariff__price {
  font-size: 40px;
  font-family: Rubik;
  font-weight: 600;
}

.tariff__btn {
  margin-top: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.tariff__btn a {
  width: 100%;
  max-width: 210px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 100%;
}

.tariff__btn a:not(:last-child) {
  margin-bottom: 12px;
}

.tariff__connnect {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #FFFFFF;
  background: #2A3DF0;
}

.tariff__buy {
  border: 1px solid #2A3DF0;
  color: #2A3DF0;
}

.tariff__vip {
  border: 2px solid #5A6CFF;
}

.tariff__vip .tariff__price,
.tariff__platinum .tariff__price {
  color: #5A6CFF;
}

.tariff__standart {
  border: 2px solid rgba(0, 0, 0, 0.78);
}

.tariff__platinum {
  border: 4px solid #2A3DF0;
}

.tariff__platinum p {
  color: #5A6CFF;
}

.tariff__dekor {
  position: absolute;
  top: -200%;
  left: 15%;
}

.case {
  padding-bottom: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.case__title {
  margin-bottom: 70px;
}

.case__btn {
  max-width: 290px;
  margin-top: 147px;
}

.case__btn a {
  padding: 16px 24px;
  text-align: center;
  margin-bottom: 11px;
  text-transform: uppercase;
  line-height: 112%;
  font-family: "Rubik";
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#2A3DF0), to(#7A89FF));
  background: -o-linear-gradient(top, #2A3DF0 0%, #7A89FF 100%);
  background: linear-gradient(180deg, #2A3DF0 0%, #7A89FF 100%);
  border-radius: 12px;
  display: block;
  color: #fff;
  opacity: 0.8;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.case__btn p {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.005em;
}

.case__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  width: 100%;
}

.case__net-item {
  width: 100%;
  padding: 16px 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(82, 113, 255, 0.25);
          box-shadow: 0px 2px 20px rgba(82, 113, 255, 0.25);
  border-radius: 10px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.case__first {
  margin-bottom: 14px;
}

.case__first-img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.case__first-text p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 110%;
}

.case__first-text a {
  color: #5A6CFF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 500;
  line-height: 130%;
  font-size: 14px;
}

.case__second {
  margin-bottom: 24px;
}

.case__second-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.case__second-item:not(:last-child) {
  margin-right: 20px;
}

.case__second-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 115%;
  margin-bottom: 17px;
}

.case__second-title span {
  font-weight: 600;
  color: #5A6CFF;
  text-transform: uppercase;
}

.case__second-money {
  margin-bottom: 17px;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  border-bottom: 1px solid #5A6CFF;
}

.case__second-money span {
  font-weight: 600;
}

.case__second-p {
  color: rgba(0, 0, 0, 0.78);
  font-size: 13px;
  line-height: 140%;
}

.case__item-btn {
  background: -o-linear-gradient(344.39deg, #2A3DF0 23.45%, #5565FF 43.64%, #2A3DF0 60.92%);
  background: linear-gradient(105.61deg, #2A3DF0 23.45%, #5565FF 43.64%, #2A3DF0 60.92%);
  border-radius: 10px;
  opacity: 0.8;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 8px 14px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 115%;
}

.review {
  padding-bottom: 211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.review .swiper-button-disabled {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.38;
}

.review .slider__arrow {
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.19);
}

.review .swiper-slide {
  border-radius: 30px;
  overflow: hidden;
}

.review__title {
  margin-bottom: 100px;
}

.review__net {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.review__btn {
  margin-top: 44px;
}

.review__net-slider {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 310px;
      flex-basis: 310px;
  width: 100%;
  overflow: hidden;
}

.review__net-slider .swiper-slide {
  width: 100%;
  height: 670px;
}

.review__slide {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.review__slide img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.review__net-autor {
  display: none;
}

.swiper-review {
  border-radius: 30px;
  overflow: hidden;
}

.review-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review__autor-text {
  position: absolute;
  bottom: 0;
  left: 0px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  font-family: "Rubik";
}

.review__autor-text h5 {
  font-weight: 500;
  font-size: 40px;
  line-height: 115%;
  letter-spacing: 0.015em;
}

.review__autor-text p {
  font-weight: 300;
  font-size: 32px;
  line-height: 150%;
}

.review__net-img-wr {
  position: relative;
}

.review-dekor {
  position: absolute;
  top: -160%;
  left: -3%;
}

.review__tell-tell {
  position: relative;
  z-index: 2;
}

.review__content {
  padding: 10px;
}

.aftercourse__detailed {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 601px) {
  .burger__body {
    display: none;
  }

  .course__line-dekor {
    bottom: -18%;
  }

  .aftercourse__net-item {
    padding: 24px;
  }

  .review__net-autor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 120px;
  }

  .review__net-autor img {
    width: 400px;
  }
}

@media (min-width: 767px) {
  .aftercourse__main-img {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    max-width: 100px;
  }
}

@media (min-width: 993px) {
  .course__line-dekor {
    display: none;
  }

  .program__net-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .program__net-mobile {
    display: none;
  }
}

@media (max-width: 1920px) {
  .content {
    padding-left: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  .content {
    padding-right: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  h1 {
    font-size: calc(16px + 39 * ((100vw - 320px) / 1920));
  }

  h3 {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1920));
  }

  h3 {
    margin-bottom: calc(50px + 35 * ((100vw - 320px) / 1920));
  }

  h3 {
    margin-top: calc(12px + 18 * ((100vw - 320px) / 1920));
  }

  h3 span {
    font-size: calc(20px + 18 * ((100vw - 320px) / 1920));
  }

  h2 {
    font-size: calc(24px + 24 * ((100vw - 320px) / 1920));
  }

  header {
    padding-top: calc(16px + 24 * ((100vw - 320px) / 1920));
  }

  header {
    padding-bottom: calc(16px + 24 * ((100vw - 320px) / 1920));
  }

  .header__list li:not(:last-child) {
    margin-right: calc(0px + 60 * ((100vw - 320px) / 1920));
  }

  footer {
    padding-top: calc(26px + 10 * ((100vw - 320px) / 1920));
  }

  footer {
    padding-bottom: calc(43px + 3 * ((100vw - 320px) / 1920));
  }

  .footer__text {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1920));
  }

  .footer__text {
    margin-right: calc(20px + 25 * ((100vw - 320px) / 1920));
  }

  .footer__btn {
    margin-left: calc(20px + 25 * ((100vw - 320px) / 1920));
  }

  .subfooter {
    padding-bottom: calc(27px + 69 * ((100vw - 320px) / 1920));
  }

  .subfooter section {
    padding-top: calc(10px + 14 * ((100vw - 320px) / 1920));
  }

  .subfooter section {
    padding-bottom: calc(10px + 14 * ((100vw - 320px) / 1920));
  }

  .subfooter__title {
    margin-bottom: calc(24px + 56 * ((100vw - 320px) / 1920));
  }

  .subfooter__item p {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .subfooter__body {
    font-size: calc(14px + 10 * ((100vw - 320px) / 1920));
  }

  .initial {
    padding-bottom: calc(70px + 20 * ((100vw - 320px) / 1920));
  }

  .initial__p {
    padding-left: calc(12px + 11 * ((100vw - 320px) / 1920));
  }

  .initial__p {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .initial__wr {
    padding-top: calc(70px + 75 * ((100vw - 320px) / 1920));
  }

  .initial__wr:after {
    width: calc(310px + 440 * ((100vw - 320px) / 1920));
  }

  .initial__wr:after {
    height: calc(515px + 595 * ((100vw - 320px) / 1920));
  }

  .initial__point-dekor-1 {
    width: calc(5px + 10 * ((100vw - 320px) / 1920));
  }

  .initial__point-dekor-2 {
    width: calc(5px + 10 * ((100vw - 320px) / 1920));
  }

  .initial__point-dekor-3 {
    width: calc(3px + 7 * ((100vw - 320px) / 1920));
  }

  .initial__point-dekor-4 {
    width: calc(4px + 9 * ((100vw - 320px) / 1920));
  }

  .initial__point-dekor-5 {
    width: calc(4px + 2 * ((100vw - 320px) / 1920));
  }

  .initial__btn {
    margin-top: calc(30px + 55 * ((100vw - 320px) / 1920));
  }

  .course__title {
    margin-bottom: calc(25px + 35 * ((100vw - 320px) / 1920));
  }

  .course__net-item {
    padding-top: calc(16px + 18 * ((100vw - 320px) / 1920));
  }

  .course__net-item {
    padding-left: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .course__net-item {
    padding-right: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .course__net-item h4 {
    font-size: calc(16px + 5 * ((100vw - 320px) / 1920));
  }

  .course__net-item h4 {
    margin-bottom: calc(16px + 14 * ((100vw - 320px) / 1920));
  }

  .course__net-item p {
    margin-bottom: calc(0px + 60 * ((100vw - 320px) / 1920));
  }

  .course__net-item img {
    width: calc(52px + 63 * ((100vw - 320px) / 1920));
  }

  .aftercourse {
    padding-top: calc(110px + 70 * ((100vw - 320px) / 1920));
  }

  .aftercourse {
    padding-bottom: calc(80px + 140 * ((100vw - 320px) / 1920));
  }

  .aftercourse__title {
    margin-bottom: calc(24px + 56 * ((100vw - 320px) / 1920));
  }

  .aftercourse__net {
    -webkit-column-gap: calc(100px + 55 * ((100vw - 320px) / 1920));
       -moz-column-gap: calc(100px + 55 * ((100vw - 320px) / 1920));
            column-gap: calc(100px + 55 * ((100vw - 320px) / 1920));
  }

  .aftercourse__net-item h4 {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1920));
  }

  .format {
    padding-bottom: calc(83px + 157 * ((100vw - 320px) / 1920));
  }

  .format__title {
    margin-bottom: calc(60px + 140 * ((100vw - 320px) / 1920));
  }

  .format__net-first,
  .format__net-second {
    -ms-flex-preferred-size: calc(230px + 145 * ((100vw - 320px) / 1920));
        flex-basis: calc(230px + 145 * ((100vw - 320px) / 1920));
  }

  .format__benefits {
    padding-top: calc(6px + 26 * ((100vw - 320px) / 1920));
  }

  .format__benefits {
    padding-bottom: calc(6px + 26 * ((100vw - 320px) / 1920));
  }

  .format__benefits {
    padding-left: calc(12px + 16 * ((100vw - 320px) / 1920));
  }

  .format__benefits {
    padding-right: calc(12px + 16 * ((100vw - 320px) / 1920));
  }

  .format__benefits {
    font-size: calc(20px + 12 * ((100vw - 320px) / 1920));
  }

  .format__benefits-1,
  .format__benefits-3 {
    margin-bottom: calc(16px + 97 * ((100vw - 320px) / 1920));
  }

  .format__net-main {
    margin-left: calc(0px + 95 * ((100vw - 320px) / 1920));
  }

  .format__net-main {
    margin-right: calc(0px + 95 * ((100vw - 320px) / 1920));
  }

  .introduction {
    padding-bottom: calc(110px + 70 * ((100vw - 320px) / 1920));
  }

  .introduction__title {
    margin-bottom: calc(24px + 86 * ((100vw - 320px) / 1920));
  }

  .introduction__net-text {
    padding-left: calc(20px + 50 * ((100vw - 320px) / 1920));
  }

  .introduction__net-text h5 {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1920));
  }

  .introduction__net-text h5 {
    font-size: calc(14px + 26 * ((100vw - 320px) / 1920));
  }

  .introduction__net-text section {
    padding-top: calc(12px + 8 * ((100vw - 320px) / 1920));
  }

  .introduction__net-text section {
    padding-bottom: calc(12px + 8 * ((100vw - 320px) / 1920));
  }

  .introduction__net-text section p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1920));
  }

  .introduction__img-wr {
    width: calc(170px + 350 * ((100vw - 320px) / 1920));
  }

  .introduction__img-wr {
    height: calc(150px + 355 * ((100vw - 320px) / 1920));
  }

  .program {
    padding-bottom: calc(100px + 63 * ((100vw - 320px) / 1920));
  }

  .program__title {
    margin-bottom: calc(24px + 76 * ((100vw - 320px) / 1920));
  }

  .module__title {
    font-size: calc(36px + 4 * ((100vw - 320px) / 1920));
  }

  .module__title {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1920));
  }

  .module__p {
    margin-bottom: calc(16px + 14 * ((100vw - 320px) / 1920));
  }

  .module__p {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1920));
  }

  .tariff {
    padding-bottom: calc(88px + 62 * ((100vw - 320px) / 1920));
  }

  .tariff__title {
    margin-bottom: calc(55px + 25 * ((100vw - 320px) / 1920));
  }

  .tariff__net {
    -webkit-column-gap: calc(20px + 20 * ((100vw - 320px) / 1920));
       -moz-column-gap: calc(20px + 20 * ((100vw - 320px) / 1920));
            column-gap: calc(20px + 20 * ((100vw - 320px) / 1920));
  }

  .tariff__net-item h6 {
    font-size: calc(32px + 4 * ((100vw - 320px) / 1920));
  }

  .tariff__net-item p {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .tariff__net-item ul {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .tariff__btn {
    margin-top: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .case {
    padding-bottom: calc(85px + 31 * ((100vw - 320px) / 1920));
  }

  .case__title {
    margin-bottom: calc(24px + 46 * ((100vw - 320px) / 1920));
  }

  .case__btn {
    margin-top: calc(115px + 32 * ((100vw - 320px) / 1920));
  }

  .review {
    padding-bottom: calc(100px + 111 * ((100vw - 320px) / 1920));
  }

  .review__title {
    margin-bottom: calc(16px + 84 * ((100vw - 320px) / 1920));
  }

  .review__btn {
    margin-top: calc(16px + 28 * ((100vw - 320px) / 1920));
  }

  .review__net-slider {
    -ms-flex-preferred-size: calc(250px + 60 * ((100vw - 320px) / 1920));
        flex-basis: calc(250px + 60 * ((100vw - 320px) / 1920));
  }

  .review__net-slider .swiper-slide {
    height: calc(410px + 260 * ((100vw - 320px) / 1920));
  }

  .review__autor-text h5 {
    font-size: calc(20px + 20 * ((100vw - 320px) / 1920));
  }

  .review__autor-text p {
    font-size: calc(16px + 16 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1500px) {
  .tariff__dekor {
    top: -100%;
  }
}

@media (max-width: 1400px) {
  .format__dekor {
    bottom: -40%;
    left: -3%;
  }
}

@media (max-width: 992px) {
  h1 {
    padding-right: 0;
  }

  .course__no-adaptive {
    opacity: 1;
  }

  .header__list li {
    font-size: 14px;
  }

  .footer__text {
    margin-right: 0;
    margin-bottom: 27px;
  }

  .footer__btn {
    margin-left: 0;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .course__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 100px;
  }

  .course__net-img {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .format__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .format__net-first,
  .format__net-second {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .format__net-first {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .format__net-second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .format__net-main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .format__benefits-1,
  .format__benefits-4,
  .format__benefits-3 {
    margin-bottom: 113px;
  }

  .format__benefits-3 {
    margin-top: 70px;
  }

  .format__net-main {
    margin-left: 95px;
    margin-right: 95px;
  }

  .format__dekor {
    bottom: 20%;
    left: -3%;
  }

  .introduction__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .introduction__net-text {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .introduction__net-text h5 {
    text-align: center;
    padding-left: 0;
    background: rgba(239, 239, 239, 0.8);
    -webkit-box-shadow: -5px 4px 5px rgba(0, 0, 0, 0.25);
            box-shadow: -5px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: inline-block;
    padding: 8px 15px;
    margin-top: -8px;
    position: relative;
    z-index: 2;
  }

  .introduction__net-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .program {
    padding-bottom: 0;
  }

  .tariff__net {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .tariff__dekor {
    top: 0;
    left: -15%;
  }

  .case__btn a {
    opacity: 1;
  }

  .case__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .case__net-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .case__item-btn {
    opacity: 1;
  }
}

@media (max-width: 992px) and (max-width: 1920px) {
  .course__net {
    row-gap: calc(36px + 64 * ((100vw - 320px) / 1920));
  }

  .format__benefits-1,
  .format__benefits-4,
  .format__benefits-3 {
    margin-bottom: calc(16px + 97 * ((100vw - 320px) / 1920));
  }

  .format__net-main {
    margin-left: calc(52px + 43 * ((100vw - 320px) / 1920));
  }

  .format__net-main {
    margin-right: calc(52px + 43 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 767px) {
  h3 {
    line-height: 130%;
  }

  h3 {
    margin-bottom: 0;
  }

  .initial__p {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
  }

  .initial__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .initial__btn {
    margin-top: -50px;
  }

  .initial__btn-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .aftercourse__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 15px;
  }

  .introduction__net-text section:not(:last-child) {
    margin-bottom: 16px;
  }

  .program__net-mobile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .module {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  h3 span {
    font-weight: 400;
    font-family: Rubik;
  }

  h2 {
    line-height: 160%;
  }

  .header__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .header__list li {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header__burger {
    display: block;
    position: relative;
  }

  .footer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__text-second {
    font-size: 16px;
    padding-left: 0;
  }

  .footer__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__btn a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__text-first {
    font-weight: 300;
    margin-bottom: 5px;
    letter-spacing: 0.015em;
    line-height: 120%;
  }

  .course__net-item h4 {
    font-family: Roboto;
    font-weight: 500;
  }

  .course__net-item p {
    font-size: 14px;
  }

  .course__net-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }

  .aftercourse__detailed span {
    font-size: 16px;
  }

  .aftercourse__body {
    bottom: -160px;
    left: 0%;
    max-width: 300px;
  }

  .format__benefits {
    line-height: 100%;
  }

  .format__dekor {
    bottom: 30%;
    left: -3%;
  }

  .introduction__net-text section {
    background: #2A3DF0;
  }

  .introduction__net-text section p {
    line-height: 140%;
  }

  .module__title {
    font-family: "Alegreyasans";
  }

  .module__resuit-body {
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }

  .tariff__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tariff__net-item h6 {
    font-family: "Alegreyasans";
  }

  .case__net-item {
    padding: 16px;
  }

  .review .slider__arrow {
    display: none;
  }

  .review__net-slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .swiper-review {
    width: 200px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .aftercourse__net-wr:nth-child(odd) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .aftercourse__net-wr:nth-child(even) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 601px) and (max-width: 1920px) {
  .review__net-autor {
    padding-left: calc(60px + 60 * ((100vw - 320px) / 1920));
  }

  .review__net-autor img {
    width: calc(300px + 100 * ((100vw - 320px) / 1920));
  }
}

@media (any-hover: hover) {
  .course__no-adaptive:hover {
    opacity: 1;
  }

  .header__language-item:hover {
    color: #5A6CFF;
  }

  .header__list li:hover {
    color: #5A6CFF;
  }

  .footer__btn a:hover {
    background: #2233cf;
  }

  .subfooter-img:hover {
    background: #3a4ee7;
  }

  .tariff__connnect:hover {
    background: #1f30c5;
  }

  .tariff__buy:hover {
    color: #1f30c5;
    padding-bottom: 3px;
  }

  .case__btn a:hover {
    opacity: 1;
  }

  .case__item-btn:hover {
    opacity: 1;
  }
}